@model DonutQueen_Models.ViewModels.DonutViewModel

<form asp-for method="post" class="d-flex justify-content-center">


    <div class="row g-3 ">

        <div class="form-group pt-5">
            <span asp-validation-for="Donut.Naam" class="text-danger"></span>
            <input asp-for="Donut.Naam"
                   type="text" class="form-control mb-5" placeholder="Naam" aria-label="First name">

            <span asp-validation-for="Donut.Omschrijving" class="text-danger"></span>
            <textarea asp-for="Donut.Omschrijving"
                      class="form-control " placeholder="Omschrijving" rows="3"></textarea>
            
        </div>
        <div class="col-6">
            <span asp-validation-for="Donut.Afbeelding" class="text-danger"></span>
            <input asp-for="Donut.Afbeelding"
                   type="text" class="form-control mb-5" placeholder="Afbeelding" aria-label="First name">

            <span asp-validation-for="Donut.Glazuur" class="text-danger"></span>
            <input asp-for="Donut.Glazuur"
                   type="text" class="form-control mb-5" placeholder="Glazuur" aria-label="First name">
           

            <input asp-for="Donut.IsVegan"
                   type="text" class="form-control mb-5" placeholder="Vegan" aria-label="First name">
            <button type="submit" class=" w-100 btn btn-outline-primary">Create</button>

        </div>


        <div class="col-6">
            <span asp-validation-for="Donut.Topping" class="text-danger"></span>
            <input asp-for="Donut.Topping"
                   type="text" class="form-control mb-5" placeholder="Topping" aria-label="Last name">

            <span asp-validation-for="Donut.Vulling" class="text-danger"></span>
            <input asp-for="Donut.Vulling"
                   type="text" class="form-control mb-5" placeholder="Vulling" aria-label="Last name">

            <input asp-for="Prijs"
                 type="text" class="form-control mb-5" placeholder="Prijs" aria-label="Last name">
            <a asp-controller="Admin" asp-action="Donuts" class="w-100 btn btn-outline-success">Return</a>

        </div>
    </div>
</form>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}